.DS_Store
Desktop.ini

node_modules
bower_components

plugins
platforms
resources
!resources/icon.png
!resources/splash.png

www/config.json
www/fonts
www/css/style-vendors.css
www/css/style-vendors.css.map
www/js/app-vendors.js
www/js/app-vendors.js.map