.DS_Store
Desktop.ini

platforms
plugins
node_modules
bower_components

www/css/ionic.app.css
www/css/ionic.app.min.css
www/js/ObjectPath.js
www/js/bootstrap-decorator.min.js
www/js/schema-form.min.js
www/js/tv4.js